<html>
    <head>
        <title>Narty</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>
    <body>
        <div class="nav-bar">
            <a href = "#" class="trademark" >Narty</a>
            <nav>
                <ul>
                    <li><a href = "#" class="My-Works">Art</a></li>
                    <li><a href = "#" class="About">About</a></li>
                    <li><a href = "#" class="Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <section class="content">
            <div class="page-one">
                <img src="../static/Shapes.svg" alt="Shapes" class="shapes">
                <p class="description">For <br>
                    Art Created 
                    <br> with 
                    <br> Love.
                </p>
                <p class="explore">
                    Explore my world of  3D art.
                </p>
                <a href="#arts">
                    <div class="scroll-down"></div>
                </a>
                <img src="../static/rectangle_bar.png" alt="img" class="shape-bar">
                </div>
            </div>
            <div class="page-two" id="arts">
                <h1 class="projects">Projects</h1>
                <div class="image-one">
                    <p class="image-one-description">The Train</p>
                    <img src="../static/Circle.png" alt="circleimg" class="circle">
                    <img src="../static/Hotel02 (1).png" alt="Hotelimg" class="hotel">
                </div>
                <div class="image-two">
                    <img src="../static/image-traingle.png" alt="image-traingle" class="triangle">
                    <img src="../static/handfinal8.png" alt="hand" class="hand">
                    <p class="image-two-description">Escape</p>
                </div>
                <img src="../static/Firefly.png" alt="img" class="firefly">
                <p class='image-three-description'>Sunset</p>
            </div>
            <div class="page-three">
                
            </div>
        </section>
    </body>
</html>