<html>
    <head>
        <title>Narty</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="nav-bar">
            <a href = "#" class="trademark" >Narty</a>
            <a href = "#" class="My-Works">Art</a>
            <a href = "#" class="About">About</a>
            <a href = "#" class="Contact">Contact</a>
        </div>
        <section class="content">
            <div class="page-one">
                <img src="../static/Shapes.svg" alt="Shapes" class="shapes">
                <p class="description">For <br>
                    Art Created 
                    <br> with 
                    <br> Love.
                </p>
                <p class="explore">
                    Explore the world of  3D art.
                </p>
                <a href=".sdf">
                    <div class="scroll-down"></div>
                </a>
                <img src="../static/rectangle_bar.png" alt="img" class="shape-bar">
                </div>
            </div>

        </section>
    </body>
</html>