@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
body
{
    margin: 0;
}

h1
{
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

a
{
    text-decoration: none;
}
.nav-bar
{
    width: 100%;
    display: flex;
    align-items: center;
}

.trademark
{
    text-decoration: none;
    font-size: 2rem;
    flex: 1;
    color: white;
    margin-left: 6%;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul li
{
    list-style: none;
    display: inline-block;
    margin-right: 6%;
}

nav ul li a
{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav ul li a:hover
{
    color: black;
}


.nav-bar
{
    height:10%;
    width: 100%;
    background-color: #2B9168;
}

.page-one
{
    height: 100%;
    width: 100%;
    background-color: #0DC67C;
}

.page-two
{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #1D5664;
}

.page-three
{
    width: 100%;
    height: 50%;
    background-color: #96344E;
}

.description
{
    position: absolute;
    padding-top: 5%;
    font-size: 3.5rem;
    font-family: 'Lora', serif;
    color: #fff;
    width: 20%;
    height: 15%;
    margin-left: 6%;
}

.explore
{
    position: absolute;
    padding-top: 32%;
    font-size: 2.5rem;
    font-family: 'Lora', serif;
    color: #fff;
    max-width: 55%;
    max-height: 15%;
    bottom: 3%;
    margin-left: 35%;
}

.shapes
{
    position: absolute;
    width: 40%;
    height: 40%;
    margin-left: 52%;
    margin-top: 6%;
}

.shapes:hover
{
    animation: spin 1.5s linear infinite;
}

@keyframes spin
{
    100%
    {
        transform: rotate(360deg);
    }    
}

.scroll-down
{
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after
{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after
{
    top: 30%;
    animation-delay: .3s;
}
@keyframes scroll-down
{
    0% {
        opacity:0;
    }
    30%
    {
        opacity: 1;
    }
    60%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        top: 90%;
    }
}

.shape-bar
{
    position: absolute;
    max-width: 21%;
    max-height: 10%;
    bottom: -13%;
    left: 79%;
}

.circle
{
    position: absolute;
    max-width: 20%;
    max-height: 20%;
    padding-top: 10px;
}

.hotel
{
    position: absolute;
    max-width: 42%;
    max-height: 60%;
    left: 5%;
    padding-top: 90px;
    object-fit: contain;
}

.triangle
{
    position: absolute;
    max-width: 20%;
    max-height: 12%;
    padding-top: 7%;
    left: 80%;
}

.hand
{
    position: absolute;
    max-width: 44%;
    max-height: 26.6%;
    left: 62%;
    padding-top: 11%;
    object-fit: contain;
}

.image-one-description
{
    display: none;
    position: absolute;
    padding-top: 35%;
    font-size: 2rem;
    color: #fff;
    max-width: 55%;
    max-height: 15%;
    margin-left: 11.5%;
}

.image-two-description
{
    display: none;
    padding-top: 485px;
    font-size: 30px;
    color: white;
    margin-left: 1100px;
}

.image-three-description
{
    display: none;
    position: absolute;
    padding-top: 945px;
    left: 685px;
    color: white;
    font-family: 'Dosis';
    font-size: 30px;
}

.firefly
{
    position: absolute;
    max-width: 22%;
    max-height: 42%;
    padding-top: 42%;
    left: 35%;
}

.projects
{
    position: absolute;
    left:47%;
    padding-top: 1%;
    font-size: 45px;
}


@media only screen and (max-width:700px)
{
    .nav-bar
{
    height: 80px;
    width: 100%;
    background-color: #2B9168;
}
    .trademark
    {
        margin-left: 5px;
    }
    nav ul
    {
        width: 100%;
        position: absolute;
        top: 15px;
        right: 0;
        left: -18px;
    }
    .description
    {
        font-size: 35px;
        margin-left:20px;
        width: 100px;
        height: 80px;
    }
    .explore
    {
        padding-top: 58%;
        font-size: 2rem;
        max-height: 15%;
        max-width: 67%;
        margin-left: 20%;
        bottom: 6%;
        text-align: center;
    }
    .shapes
    {
        width: 35%;
        margin-top: 20px;
        margin-left: 210px;
    }
    .scroll-down
    {
        bottom: 15px;
        left: 50%;
    }
    .page-one
    {
        height:100%;
        width:100%;
    }
    .shape-bar
    {
        width: 90px;
        height: 20px;
        bottom: -90px;
    }
    .circle
    {
        width:78px;
        height: 75px;
    }
    .hotel
    {
        /* width: 265px;
        height: 329px; */
        padding-top: 15%;
        padding-left: 20px;
    }
    .image-one-description
    {
        display: block;
        font-size: 1.5rem;
        font-family: 'Dosis';
        padding-top: 70%;
        left:11%;
    }
    .hand
    {
        left:18%;

        padding-top: 100%;
    }
    .triangle
    {
        left: 70%;
        padding-top: 92%;
    }
    .page-two
    {
        height: 100%;
    }
    .image-two-description
    {
        display: block;
        padding-top: 260%;
        font-family: 'Dosis', sans-serif;
        font-size: 1.5rem;
        color: white;
        margin-left: 150px;
    }
    .firefly
    {
        max-height: 96%;
        max-width: 56%;
        position: absolute;
        padding-top: 195%;
        left:22%;
    }
    .page-three
    {
        height: 30%;
    }
    .image-three-description
    {
        padding-top: 1040px;
        left: 160px;
        font-size: 20px;
        color: black;
    }
    .page-two
    {
        background-color: #f07bbb;
    }
    .page-three
    {
        background-color: aquamarine;
    }
    .projects
    {
        font-size: 25px;
        left: 44%;
    }
}